:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --wght-400: 400;
  --wght-700: 700;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Outfit', sans-serif;
  box-sizing: border-box;
  margin: 0;
  font-weight: var(--wght-400);
  color: var(--grayish-blue);
  background: var(--light-gray);
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  display: block;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qrcode {
  max-width: 30rem;
  background: var(--white);
  padding: 2rem;
}

.qrcode,
.qrcode__img img {
  border-radius: 2rem;
}

.qrcode__text {
  text-align: center;
}

.qrcode__text h1 {
  font-size: 2rem;
  font-weight: var(--wght-700);
  color: var(--dark-blue);
}
